landscape:
  name: my-gardener
  domain: prefix.mydomain.org

  cluster:
#    kubeconfig: ./kubeconfig # optional
    networks:
      nodes: <node CIDR>
      pods: <pod CIDR>
      services: <service CIDR>

  iaas:
    type: <gcp/aws/azure>
    region: europe-west1
    zones:
      - europe-west1-b
      - europe-west1-c
      - europe-west1-d
    credentials:
      # your credentials here

#  etcd: # optional
#    backup:
#      type: <gcs/s3/abs>
#      region: (( iaas.region ))
#      credentials: (( iaas.credentials ))

#  dns: # optional
#    type: <google-clouddns/aws-route53/azure-dns>
#    credentials: (( iaas.credentials ))

  identity:
    users:
      - email: "admin@mydomain.org"
        username: "Admin"
        password: "MyHardPassword123$"

#  cert-manager:
#    email: "john.doe@mydomain.org"
#    server: live