landscape:
  name: my-gardener
  domain: prefix.mydomain.org

  cluster:
#    kubeconfig: ./kubeconfig # optional
    networks:
      nodes: <node CIDR>
      pods: <pod CIDR>
      services: <service CIDR>

  iaas:
    - name: (( iaas[0].type ))                   # name of the seed
      type: <gcp|aws|azure|openstack|vsphere>    # iaas provider
      region: <major region>-<minor region>      # region for initial seed
      zones:                                     # remove zones block for Azure
        - <major region>-<minor region>-<zone>   # example: europe-west1-b
        - <major region>-<minor region>-<zone>   # example: europe-west1-c
        - <major region>-<minor region>-<zone>   # example: europe-west1-d
      credentials:                               # provide access to IaaS layer used for creating resources for shoot clusters
        # your credentials here
    # - name:                                      # see above
    #   type: <gcp|aws|azure|openstack|vsphere>    # see above
    #   region: <major region>-<minor region>      # region for seed
    #   zones:                                     # remove zones block for Azure
    #     - <major region>-<minor region>-<zone>   # example: europe-west1-b
    #     - <major region>-<minor region>-<zone>   # example: europe-west1-c
    #     - <major region>-<minor region>-<zone>   # example: europe-west1-d
    #   cluster:                                   # information about your seed's base cluster
    #     networks:                                # CIDR IP ranges of seed cluster
    #       nodes: <CIDR IP range>
    #       pods: <CIDR IP range>
    #       services: <CIDR IP range>
    #     kubeconfig:                              # kubeconfig for seed cluster
    #       apiVersion: v1
    #       kind: Config
    #       ...
    #   credentials:
    #     # your credentials here

#  etcd: # optional for gcp/aws/azure/openstack
#    backup:
#      type: <gcs|s3|abs|swift>
#      region: (( iaas[0].region ))
#      credentials: (( iaas[0].credentials ))

#  dns: # optional for gcp/aws/azure/openstack
#    type: <google-clouddns/aws-route53/azure-dns/openstack-designate/cloudflare-dns/infoblox-dns>
#    credentials: (( iaas[0].credentials ))

  identity:
    users:
      - email: "admin@mydomain.org"
        username: "Admin"
        password: "MyHardPassword123$"

#  cert-manager:
#    email: "john.doe@mydomain.org"
#    server: live
#    ## optional existing user account's key
#    #privateKey: |+
#    # -----BEGIN RSA PRIVATE KEY-----
#    # MII...
#    # ...
#    # -----END RSA PRIVATE KEY-----

#  gardener:
#    controller:
#      config:                            
#        controllers:                     # provide arbitrary values for the
#          project:                       # Gardener controller manager Helm
#            concurrentSyncs: 20          # chart config.controllers field here
