---
landscape: (( &temporary ))
component:
  active: (( .landscape.monitoring.active ))
  imports:
    - ingress-controller
    - kube_apiserver: kube-apiserver
    - identity
    - gardener: gardener/extensions
    - cert: cert-manager/cert
    - namespace

  stubs:
    - plugins/kubectl/utilities.yaml
    - lib/templates/state.yaml